.container {
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    font-family: Arial, sans-serif;
}

.car-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.car-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.car-list li:last-child {
    border-bottom: none;
}

.car-list li h3 {
    margin: 0;
}

.car-list li p {
    margin: 0;
    color: #666;
}

#search-box-submit {
    /*width: 60px;*/
    /*height: 35px;*/
    /*border-radius: 20px;*/
    /*font-family: cursive;*/
    /*border: none;*/
    border: none;
    display: block;
    background-color: #d81324;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;


}

.car-info-block {
    display: inline-block;
    width: 90%;
}

.car-info-buttons-block {
    display: inline-block;
    width: 9%;
}

.edit-button{
    border: none;
    display: block;
    background-color: #d81324;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    font-size: 15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}
.delete-button {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    background-color: #fa5252;
    font-family: cursive;
    text-align: center;
}

