.user-info-container{
    position: absolute;
    height: 70%;
    width: 30%;
    top: 22%;
    left: 10%;
    background:  #0b2154;
}

.user-info{
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 98%;
    font-size: 150%;
    color: black;
    background: white;
    text-align: left;
    padding-left: 10%;
}

#user-info-header{
    font-size: 40px;
    color: #596277;
    width: 100%;
}


#delete-button{
    width: 50%;
    font-size: 100%;
    transition-duration: 0.4s;
}

#delete-button:hover {
    background-color: #d81324;
    color: white;
}

.hidden {
    display: none;
}

#delete-box{
    border: 1px solid black;
    position: absolute;
    width: 40%;
    height: 50%;
    left: 30%;
    top: 30%;
    background-color: lightgrey;
    color: #596277;
    z-index: 100;
}

#delete-box-message{
    position: absolute;
    top: 20%;
    font-size: 50px;
    text-align: center;
}


#submit-delete-box{
    position: absolute;
    top: 70%;
    left: 30%;
    height: 15%;
    width: 15%;
}


#hide-delete-box{
    position: absolute;
    top: 70%;
    left: 55%;
    height: 15%;
    width: 15%;
    cursor: pointer;
    font-size: 150%;
    transition-duration: 0.4s;
}
#hide-delete-box:hover{
    background-color: black;
    color: white;
}

/*******************************vUSER INPUTS **************************/


.user-input-container{
    position: absolute;
    height: 70%;
    width: 50%;
    top: 22%;
    left: 45%;
    background-color: lightgrey;
}

.user-inputs{
    top: 11%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    height: 60%;
    width: 30%;
    left: 35%;
}
.input-message{
    position: absolute;
    top: 13%;
    height: 50%;
    width: 30%;
    left: 5%;
    font-size: 50px;
}
.errors{
    position: absolute;
    top: 13%;
    height: 70%;
    width: 30%;
    left: 70%;
}

#first-name-error{
    position: absolute;
}
#last-name-error{
    position: absolute;
    top: 15%;
}
#email-error{
    position: absolute;
    top: 33%;
}
#username-error{
    position: absolute;
    top: 52%;
}
#phone-number-error{
    position: absolute;
    top: 67%;
}



.role-change{
    position: absolute;
    background-color: black;
    width: 20%;
    height: 7%;
    top: 70%;
    left: 5%;
    color: white;
    cursor: pointer;
    font-size: 150%;
}
.submit-button{
    position: absolute;
    width: 30%;
    height: 10%;
    top: 85%;
    left: 35%;
    cursor: pointer;
    font-size: 150%;
    transition-duration: 0.4s;
}
.submit-button:hover {
    background-color: #d81324;
    color: white;
}
.submit-button:active {
    transform: scale(0.9);
}
select .role-option {
    background-color: black;
    color: #fff;
    font-size: 100%;
    padding: 10px;
}

/* Style the selected option */
select .role-option:checked {
    background-color: #f0f0f0;
    color: #000;
}



div .loader {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #d81324;*/
    background:  #0b2154;
    transition: opacity 0.76s, visibility 0.75s;
    position: absolute;
    z-index: 100;
}


.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #596277;
    border-top-color: white;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}