#forgotten-password{
    position: absolute;
    height: 10%;
    width: 40%;
    left: 15%;
}
#forgotten-password form{
    cursor: pointer;
}


#forgotten-password form button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#forgotten-password form button:hover{
    color: #0b2154;
}