.container {
    position: absolute;
    height: 80%;
    left: 15%;
    width: 90% !important;
    background-color: #d81324 !important;
    color: #fff !important;
    border-radius: 10px !important;
    box-shadow: 0 0 10px #ccc !important;
    font-family: Arial, sans-serif !important;
}

h1 {
    color: #fff !important;
}

.car-info-block{
    margin: 0 !important;
}
.car-box {
    margin: 12px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 133px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visit-box {
    margin: 12px;
    background-color: #ffffff;
    border-radius: 10px;
    color: #000000;
    padding: 141px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 200px;
    height: 502px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.car-container {
    position: absolute;
    left: 5%;
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.wrap-car{
    border: 1px solid black;
    height: 50%;
    width: 30%;
    margin: 1% 1% 1% 1%;
}
.car-info {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: black;
    background-color: white;
    border: 2px solid black !important;
    border-radius: 10px;
    box-shadow: 2px 2px 5px grey;
}


.orange-box {
    background-color: #ff841b;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 230px;
    font-weight: bold;
}

.yellow-box {
    background-color: #ffd829;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 230px;
    font-weight: bold;
}

.green-box {
    background-color: #46ff4f;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: 230px;

    font-weight: bold;
}