
.container-reports {
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: absolute;
    left: 1%;
    top: 20%;
    width: 85%;
    height: 75%;
    background-color: #bfbfbf;
}

.report {
    border-radius: 2px;
    display: flex;
    background: white;
    margin: 1%;
    width: 31%;
    height: 45%;
    border: 1px solid black;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.report-info {
    padding-left: 2%;
    text-align: left;
    margin: 1%;
    width: 70%;
    height: 96%;
    color: black;
    font-size: 120%;
}
.report h1{
    color: #0b2154 !important;
}
.report-info span{
    padding: 0 5%;
    width: 100%;
    text-align: center;
    color:  black;
    font-weight: bold;
}

.report-buttons {
    width: 30%;
    height: 100%;
    border: 1px solid black;
}

.report-buttons form{
    height: 100%;
}
.report-buttons form button{
    height: 100%;
    width: 100%;
    background-color: #0b2154;
    color: #FFFFFF;
    text-align: center;
    font-size: 150%;
    transition: all 0.5s;
    cursor: pointer;
}


.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}
.div-button{
    height: 20%;
    width:20%;
    background-color: black;
}



.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100 !important;
    background:  #666666;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #0b2154;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.hide {
    display: none;
}
