body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.field {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border: none;
    padding: 70px;
    margin: 10px;
    background-color: white;
    border-radius: 15px;

}

h2 {
    font-size: 36px;
    margin: 30px;
    text-align: center;
}
h3 {
    font-size: 36px;
    margin: 132px;
    text-align: center;
}

.row {
    margin-bottom: 20px;
}

.label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    margin-right: 10px;
}

.value {
    display: inline-block;
    font-size: 18px;
}

.features {
    margin-top: 20px;
}

.features label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.features li {
    margin-bottom: 5px;
}
.edit-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side {
    background-color: #D81324;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 2%;

}
h1 {
    font-weight: 300 !important;
    color: #fff !important;
}

.right-side form {
    display: flex;
    flex-direction: column;
}

.right-side label {
    margin-top: 10px;
}

.right-side input[type="text"] {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.delete-btn {
    background-color: #d81324;
    color: #fff;
    margin-top: 20px;
    padding: 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}
.right-side button {
    margin-top: 20px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
