/************************USER PARTS**********************/
.user-info-container{
    background-color: lightgrey;
    position: absolute;
    top: 22%;
    left: 2%;
    width: 50%;
    height: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0);
}
.user-info{
    position: absolute;
    top: 10%;
    left: 45%;
    width: 50%;
/*    grey*/
}

.user-info #names{
    color: black;
    font-size: 40px;
    text-align: left;
    top: 5%;
    left: 50%;
}
.user-info #id{
    font-size: 25px;
    text-align: left;
    top: 20%;
    left: 50%;
}
.user-info #role{
    font-size: 25px;
    text-align: left;
    top: 30%;
    left: 50%;
}
.user-info #email{
    font-size: 25px;
    text-align: left;
    top: 30%;
    left: 50%;
}
.user-info #phone-number{
    font-size: 25px;
    text-align: left;
    top: 40%;
    left: 50%;
}

#edit-button{
    position: absolute;
    top: 80%;
    left: 50%;
}
/***************************************/

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100 !important;
    background:  #0b2154;
    transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color: #666666;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}


/*Image*/
.circle-image {
    background-color: white;
    position: absolute;
    border: 1px solid black;
    top: 10%;
    left: 3%;
    width: 40%; /* Set the width of the div to your desired size */
    height: 82%; /* Set the height of the div to your desired size */
     /* Set the border radius to 50% to make it circular */
    overflow: hidden; /* Hide anything that goes outside the boundaries of the div */
}

.circle-image img {
    width: 100%; /* Set the width of the image to fill the container */
    height: 100%; /* Set the height of the image to fill the container */
    object-fit: cover; /* Scale the image to fill the container without distorting */
}


/*Buttons*/
.user-profile-buttons{
    position: absolute;
    left: 55%;
    display: flex;
    flex-direction: row;
    top: 23%;
    height: 50%;
    width: 40%;
}

.user-profile-buttons #button1{
    position: absolute;
    width: 100%;
    height: 15%;
    font-size: 200%;
}
.user-profile-buttons #button2 {
    position: absolute;
    width: 100%;
    top: 20%;
    height: 15%;
    font-size: 200%;
}
.user-profile-buttons #button3{
    position: absolute;
    width: 100%;
    top: 40%;
    height: 15%;
    font-size: 200%;
}

.user-profile-buttons #button4{
    position: absolute;
    width: 100%;
    top: 60%;
    height: 15%;
    font-size: 200%;
}
.user-profile-buttons #button5{
    position: absolute;
    width: 100%;
    top: 80%;
    height: 15%;
    font-size: 200%;
}

.user-profile-buttons a{
    color: white !important;
}



.option-button {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    background-color:  #0b2154;
    transition-duration: 0.2s;
}
.option-button:hover {
    background-color:black;
    color: white;
}
.option-button:active {
    transform: scale(0.9);
}

.user-stats{
    background-color:  #0b2154;
    top: 90%;
    position: absolute;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    font-size: 200%;
    font-weight: bold;
}

.hide {
    display: none;
}

