body{
    background-color: darkgrey !important;
    color: black !important;
}

#report-box{
    background-color: white;
    position: absolute;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 155%;
    border: 1px solid black;
}

#header{
    top: 7%;
    width: 100%;
    text-align: center;
    position: absolute;
    color: black;
    font-weight: bold;
}
#hello-text{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
}

#report-info{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 40%;
}

h1{
    font-size: 110% !important;
    font-weight: bold !important;
    color: black !important;
}

#user-info{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 40%;
}

#car-info{
    position: absolute;
    top: 60%;
    left: 5%;
    width: 40%;
}

#services-info{
    position: absolute;
    top: 80%;
    left: 5%;
}
.default-message{
    position: absolute;
    width: 70%;
    height: 15%;
    left: 20%;
    top: 80%;
}
.table-container{
    position: absolute;
    width: 70%;
    height: 15%;
    left: 15%;
    top: 83%;
    border: 2px solid black;
    overflow-y: scroll;
}
#services-table{
    position: absolute;
    width: 100%;
    height: 100%;
}
#services-table {
    overflow: auto;
}
#services-table table, th, td {
    border: 1px solid black !important;
}



#total{
    font-weight: bold;
}

.options-container{
    position: absolute;
    height: 20%;
    width: 20%;
    left: 77%;
    top: 20%;
    border: 1px solid black;
    background-color: #0b2154;
    border-radius: 2px;
}
.options-container p{
    color: white !important;
    font-weight: bold;
    font-size: 200%;
    text-align: center;
}

.currency-select{
    position: absolute;
    top: 50%;
    width: 35%;
    left: 5%;
    height: 20%;
}
.email-send-button{
    position: absolute;
    top: 50%;
    width: 50%;
    left: 45%;
    height: 20%;
}