h2 {
    font-weight: 300;
    text-align: center;
}

p {
    position: relative;
}
body{
     background-color: black;
}
/********************************SEARCH BOX**************************/
.search-box {
    left: 59%;
    top: 25%;
    position: absolute;
    width: 40%;
    height: 20%;
    background-color: #bfbfbf;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
    0 3px 6px rgba(0, 0, 0, 0.23);
}
#user-input{
    position: absolute;
    width: 75%;
    height: 30%;
    top: 12%;
    left: 1%;
    font-size: 100%;
}

.inline-block1 button{
    background-color: black;
    color: white;
    font-size: 100%;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
    text-align: center;
    position: absolute;
    top: 12%;
    left: 77%;
    width: 20%;
    height: 30%;
}

.search-box-form button:hover{
    background-color:#d81324;
    color: white;
}

.sort-users-by{
    position: absolute;
    top: 50%;
    left: 25%;
    width: 25%;
}

.sort-by-cars-brand{
    position: absolute;
    top: 50%;
    left: 1%;
    width: 20%;
}
#text-between-dates{
    color: black;
    position: absolute;
    width: 20%;
    height: 20%;
    left: 55%;
    top: 52%;
}

#datepicker{
    position: absolute;
    top: 47%;
    left: 70%;
    height: 20%;
    width: 20%;
}
#datepicker2{
    position: absolute;
    top: 72%;
    left: 70%;
    height: 20%;
    width: 20%;
}

.default-option{
    background-color: #d81324;
}
/***************************************************/

/*User parts*/
.users-container {
    background-color:#0b2154;
    overflow-y: auto;
    display: grid;
    top: 25%;
    left: 3%;
    position: absolute;
    width: 55%;
    height: 70%;
    padding: 20px 0 0 0;
    box-shadow: 0px 30px 50px 0px rgba(0, 0, 0, 0.2);
}
.hide-scroll {
    overflow-y: hidden;
}

.error {
    color: #d81324;
    font-size: 0.7em;
}


/*Single user container*/
.user{
    display: grid;
    padding: 20px 20px;
    background-color: white;
    margin: 10px;
    font-size: 25px;
}

.user table{
    border-spacing: 10px;
}

.user td {
    background-color: #bfbfbf;
    margin: 10px;
    padding: 20px;
    width: 200px;
    color: black;
}

.edit-button {
    border: 2px solid black;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 20px;
    position: relative;
    display: inline-block;
    text-align: center;
    background-color: black;
    transition-duration: 0.4s;
}
.edit-button:hover {
    background-color:#d81324;
    color: white;
}



.no-match-text{
    position: absolute;
    top: 35%;
    left: 5%;
    font-size: 40px;
    color: white;
}

/*Image*/
.image-mechanic-container {
    position: fixed;
    bottom: 0;
    left: 65%;
    width: 35%;
    text-align: center;
}

.image-mechanic-container img {
    width: 70%;
    height: auto;
}
/*first gear*/
.image-metal-gear1{
    top: 55%;
    left: 60%;
    position: absolute;
    height: 30%;
    width: 40%;
    border-radius: 50%;
}

.image-metal-gear1 img {
    position: absolute;
    height: 45%;
    width: 20%;
    object-fit: cover;
    animation: rotate1 30s linear infinite;
    border-radius: 50%;
}

@keyframes rotate1 {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}
/*second gear*/
.image-metal-gear2{
    top: 60%;
    left: 67%;
    position: absolute;
    height: 40%;
    width: 30%;
}

.image-metal-gear2 img {
    position: absolute;
    height: 30%;
    width: 15%;
    object-fit: cover;
    animation: rotate2 30s linear infinite;
    border-radius: 50%;
}

@keyframes rotate2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
/*third gear*/
.image-metal-gear3{
    top: 70%;
    left: 60%;
    position: absolute;
    height: 10%;
    width: 10%;

}

.image-metal-gear3 img {
    position: absolute;
    top: 30%;
    height: 100%;
    width: 60%;
    object-fit: cover;
    animation: rotate2 30s linear infinite;

}

@keyframes rotate3 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

div .loader {
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background: #d81324;*/
    background: #bfbfbf;
    transition: opacity 0.76s, visibility 0.75s;
    position: absolute;
    z-index: 100;
}


.loader--hidden {
    opacity: 0;
    visibility: hidden;
}

.loader::after {
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-top-color:  #0b2154;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }
    to {
        transform: rotate(1turn);
    }
}

.hide {
    display: none;
}