<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="../static/editUserView.css" th:href="@{/editUserView.css}">

    <!-- Favicon -->
    <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>

<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Sofia, Bulgaria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+359 877 380 301</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/booking}" class="nav-item nav-link">BookNow</a>
            <a th:href="@{/auth/register}" class="nav-item nav-link">Register</a>
            <a th:href="@{/users/{id}(id=${viewer.getId()})}" th:method="get" class="nav-item nav-link">
                Profile
            </a>                <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Search
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/users}" >Users</a></li>
                <li><a class="dropdown-item" th:href="@{/cars/view}" th:method="get">Cars</a></li>
                <li><a class="dropdown-item" th:href="@{/visits/view}" th:method="get">Visits</a></li>
                <li><a class="dropdown-item" th:href="@{/reports}">Reports</a></li>
            </ul>
        </div>
            <a th:href="@{/about}" class="nav-item nav-link">About</a>
            <a th:href="@{/services}" class="nav-item nav-link">Services</a>
        </div>
        <a th:href="@{/auth/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG OUT<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->

<div class="user-info-container">
    <!--Loader-->
    <div class="loader"></div>
    <div class="user-info">
        <span id="user-info-header">User profile info:</span>
        <div class="attributes">
            <p th:text="'First name: ' + ${owner.getFirstName()}">First name</p>
            <p th:text="'Last name: ' + ${owner.getLastName()}">Last name</p>
            <p th:text="'Email: ' + ${owner.getEmail()}">Email</p>
            <p th:text="'Phone number: ' + ${owner.getPhoneNumber()}">Phone number</p>
            <p th:text="'Username: ' + ${owner.getUsername()}">Username</p>
            <p th:text="'Role: ' + ${owner.getRole().getRole()}">Role</p>

            <button id="delete-button">Delete profile</button>

        </div>
    </div>
</div>

<div id="delete-box" class="hidden">
    <p id="delete-box-message">Are you sure you want to delete this profile?</p>
    <form th:action="@{/users/delete/{id}(id=${owner.getId()})}" method="post">
        <button id="submit-delete-box" class="submit-button" type="submit">Delete</button>
    </form>
    <button id="hide-delete-box">Cancel</button>
</div>


<div class="user-input-container">
    <form class="search-box-form" th:action="@{/users/modify/{id}(id=${owner.getId()})}" th:object="${edit}"
          method="post">
        <div class="user-inputs">
            <input placeholder="First name" th:field="*{first_name}">

            <input placeholder="Last name" th:field="*{last_name}">

            <input placeholder="Email" th:field="*{email}">

            <input placeholder="Username" th:field="*{username}">

            <input placeholder="Phone number" th:field="*{phone_number}">
        </div>
        <div class="input-message">Update profile form:</div>
        <div class="errors">
            <label id="first-name-error" th:errors="*{first_name}">Name error placeholder</label>
            <label id="last-name-error" th:errors="*{last_name}">Name error placeholder</label>
            <label id="email-error" th:errors="*{email}">Name error placeholder</label>
            <label id="username-error" th:errors="*{username}">Name error placeholder</label>
            <label id="phone-number-error" th:errors="*{phone_number}">Name error placeholder</label>
        </div>
        <select class="role-change" th:field="*{role_id}" id="role-select">
            <option class="role-option" th:value="${owner.getRole().getId()}"
                    th:text="${owner.getRole().getRole()}"></option>
                        <option class="role-option" value="1">Customer</option>
                        <option class="role-option" value="2" selected>Employee</option>
        </select>
        <label class="error" th:errors="*{role_id}">Name error placeholder</label>

        <button class="submit-button" type="submit">Submit</button>
    </form>


</div>

</body>

<script>
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");
        setTimeout(() => {
            loader.classList.add("loader--hidden");

            loader.addEventListener("transitionend", () => {
                document.body.removeChild(loader);
            });
        }, 1500);
    });


    const deletePress = document.getElementById('delete-button');
    const deleteBox = document.getElementById('delete-box');
    const hideDeleteBox = document.getElementById('hide-delete-box');

    deletePress.addEventListener('click', () => {
        deleteBox.classList.toggle('hidden');
    });

    hideDeleteBox.addEventListener('click', () => {
        deleteBox.classList.add('hidden');
    });
</script>
</html>