<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <link rel="stylesheet" href="../static/loginGuest.css" th:href="@{/loginGuest.css}">
  <!-- Favicon -->
  <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href="../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
  <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
  <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

  <!-- Customized Bootstrap Stylesheet -->
  <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
  <link href="../static/css/style.css" th:href="@{/createCar.css}" rel="stylesheet">
</head>

<body>

<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
  <div class="row gx-0 d-none d-lg-flex">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center py-3 me-4">
        <small class="fa fa-map-marker-alt text-primary me-2"></small>
        <small>123 Street, Sofia, Bulgaria</small>
      </div>
      <div class="h-100 d-inline-flex align-items-center py-3">
        <small class="far fa-clock text-primary me-2"></small>
        <small>Mon - Fri : 09.00 AM - 09.00 PM &nbsp&nbsp&nbsp</small>
      </div>
      <div class="h-100 d-inline-flex align-items-center py-3">
        <small>Sat - Sun : 09.00 AM - 12.00 PM</small>
      </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
      <div class="h-100 d-inline-flex align-items-center py-3 me-4">
        <small class="fa fa-phone-alt text-primary me-2"></small>
        <small>+359 878570383 &nbsp&nbsp&nbsp</small>
        <small class="fa fa-envelope me-3"></small>
        <small>asg.car.service.system@gmail.com</small>
      </div>
    </div>
  </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
  <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
  </a>
  <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">
      <a th:href="@{/about}" class="nav-item nav-link">About</a>
      <a th:href="@{/services}" class="nav-item nav-link">Services</a>
    </div>
    <a th:href="@{/auth/login}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG IN<i class="fa fa-arrow-right ms-3"></i></a>
  </div>
</nav>
<!-- Navbar End -->

<!-- Page Header Start -->
<div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-bg-2.jpg);">
  <div class="container-fluid page-header-inner py-5">
    <div class="container text-center">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Authentication</h1>

    </div>
  </div>
</div>
<!-- Page Header End -->

<!-- Service Start -->
<div class="container-xxl service py-5">
  <div class="container">

    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    </div>

    <!-- Active section -->
    <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
      <!-- Column left: list of service like buttons-->
      <div class="col-lg-4">
        <div class="nav w-100 nav-pills me-4">
            <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active" data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
              <i class="fa fa-car-side fa-2x me-3"></i>
              <h4 class="m-0">Log In</h4>
            </button>
            <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
              <i class="fa fa-car fa-2x me-3"></i>
              <h4 class="m-0">Register</h4>
            </button>
        </div>
      </div>
      <!-- End Column left -->
      <!-- Center + Right column -->
      <div class="col-lg-8">
        <div class="tab-content w-100">

          <div class="tab-pane fade show active" id="tab-pane-1">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px;">
                <div class="position-relative h-100">

                  <h2>Log In</h2>
                  <!-- FORM -->
                  <form id="create-form" th:action="@{/auth/login}" th:object="${login}" method="post">
                    <p>
                      <label for="username">Username:</label>
                      <input type="text" id="username" name="username" placeholder="username" th:field="*{username}"><br><br>
                      <label class="error" th:errors="*{username}">Username error placeholder</label>
                    </p>
                    <p>
                      <label for="password">Password:</label>
                      <input type="password" id="password" name="password" placeholder="password" th:field="*{password}"><br><br>
                      <label class="error" th:errors="*{password}">Password error placeholder</label>
                    </p>
                    <p>
                      <input type="submit" id="login" value="Login">
                      <label class="error" th:errors="*{invalidCredentials}"></label>
                    </p>
                    <br>
                  </form>
                  <div id="forgotten-password">
                    <form th:action="@{/auth/forgotten-password}" method="get">
                      <button>Forgotten password</button>
                    </form>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <div class="tab-pane fade" id="tab-pane-2">
            <div class="row g-4">
              <div class="col-md-6" style="min-height: 350px;">
                <div class="position-relative h-100">
                  <h2>Registration Form</h2>
                  <!-- FORM -->
                  <form id="create-form2" method="POST" th:action="@{/auth/register}" th:object="${register}">
                    <p>
                      <label for="first_name">First Name:</label>
                      <input type="text" id="first_name" name="first_name" th:field="*{first_name}"><br><br>
                      <label class="error" th:errors="*{first_name}">First name error placeholder</label>
                    </p>
                    <p>
                      <label for="last_name">Last Name:</label>
                      <input type="text" id="last_name" name="last_name" th:field="*{last_name}" ><br><br>
                      <label class="error" th:errors="*{last_name}">Last name error placeholder</label>
                    </p>
                    <p>
                      <label for="email">Email:</label>
                      <input type="text" id="email" name="email" th:field="*{email}"><br><br>
                      <label class="error" th:errors="*{email}">E-mail error placeholder</label>
                    </p>
                    <p>
                      <label for="phone_number">Phone Number:</label>
                      <input type="text" id="phone_number" name="phone_number" th:field="*{phone_number}"><br><br>
                      <label class="error" th:errors="*{phone_number}">Phone number error placeholder</label>
                    </p>

                    <p>
                      <input type="submit" value="Submit" onclick="showPopup()">
                    </p>
                    <br>
                  </form>
                </div>
              </div>

            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
<!-- Service End -->




<!-- Fact Start -->
<div class="container-fluid fact bg-dark my-5 py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
        <i class="fa fa-check fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up" th:text="${cars.size()}"></h2>
        <p class="text-white mb-0">Cars</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
        <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up" th:text="${employees.size()}"></h2>
        <p class="text-white mb-0">Expert Technicians</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
        <i class="fa fa-users fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up" th:text="${customers.size()}"></h2>
        <p class="text-white mb-0">Satisfied Clients</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
        <i class="fa fa-car fa-2x text-white mb-3"></i>
        <h2 class="text-white mb-2" data-toggle="counter-up" th:text="${reports.size()}"></h2>
        <p class="text-white mb-0">Completed Visits</p>
      </div>
    </div>
  </div>
</div>
<!-- Fact End -->


<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Address</h4>
        <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Sofia, Bulgaria</p>
        <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+359 878570383</p>
        <p class="mb-2"><i class="fa fa-envelope me-3"></i>asg.car.service.system@gmail.com</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h4 class="text-light mb-4">Opening Hours</h4>
        <h6 class="text-light">Monday - Friday:</h6>
        <p class="mb-4">09.00 AM - 09.00 PM</p>
        <h6 class="text-light">Saturday - Sunday:</h6>
        <p class="mb-0">09.00 AM - 12.00 PM</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="copyright">
      <div class="row">
        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
          &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

          <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
          Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
        </div>
        <div class="col-md-6 text-center text-md-end">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
<script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
<script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
<script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
<script src="../static/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
<script src="../static/lib/tempusdominus/js/moment.min.js" th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
<script src="../static/lib/tempusdominus/js/moment-timezone.min.js" th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
<script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js" th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

<!-- Template Javascript -->
<script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script>
  function showPopup() {
    var email = document.getElementById("email").value;
    var firstName = document.getElementById("first_name").value;
    var lastName = document.getElementById("last_name").value;

    if (email === null || firstName === null || lastName === null) {
      alert("Error: Please fill in all required fields.");
    } else {
      alert("Thank you " + firstName + " " + lastName + "\nYour form has been submitted! \n\nYou will receive your credentials on your e-mail: " + email);
    }
  }

</script>

</body>

</html>