<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <title>CarServ - Car Repair HTML Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css" th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>123 Street, Sofia, Bulgaria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM &nbsp&nbsp&nbsp</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small>Sat - Sun : 09.00 AM - 12.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+359 878570383 &nbsp&nbsp&nbsp</small>
                <small class="fa fa-envelope me-3"></small>
                <small>asg.car.service.system@gmail.com</small>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
    <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a th:href="@{/booking}" class="nav-item nav-link">BookNow</a>
            <a th:href="@{/auth/register}" class="nav-item nav-link">Register</a>
            <a th:href="@{/users/{id}(id=${viewer.getId()})}" th:method="get" class="nav-item nav-link">
                Profile
            </a>                <div class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Search
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" th:href="@{/users}" >Users</a></li>
                <li><a class="dropdown-item" th:href="@{/cars/view}" th:method="get">Cars</a></li>
                <li><a class="dropdown-item" th:href="@{/visits/view}" th:method="get">Visits</a></li>
                <li><a class="dropdown-item" th:href="@{/reports}">Reports</a></li>
            </ul>
        </div>
            <a th:href="@{/about}" class="nav-item nav-link">About</a>
            <a th:href="@{/services}" class="nav-item nav-link">Services</a>
        </div>
        <a th:href="@{/auth/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG OUT<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
<!-- Navbar End -->


    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 p-0" style="background-image: url(/img/carousel-bg-2.jpg);">
        <div class="container-fluid page-header-inner py-5">
            <div class="container text-center">
                <h1 class="display-3 text-white mb-3 animated slideInDown">Services</h1>

            </div>
        </div>
    </div>
    <!-- Page Header End -->

<!-- Add new service modal -->
<div class="modal fade" id="addServiceModal" tabindex="-1" aria-labelledby="addServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addServiceModalLabel">Add New Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addServiceForm" method="post" th:action="@{/services/create}">
                    <div class="mb-3">
                        <label for="serviceName" class="form-label">Service Name</label>
                        <input type="text" class="form-control" id="serviceName" name="serviceName" required>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" name="price" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modify Service Modal -->
<div class="modal fade" id="modifyServiceModal" tabindex="-1" role="dialog" aria-labelledby="modifyServiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modifyServiceModalLabel">Modify Service</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modify-service-form">
                    <div class="mb-3">
                        <label for="modify-service-name" class="form-label">Service Name</label>
                        <input type="text" class="form-control" id="modify-service-name" name="serviceName" required>
                    </div>
                    <div class="mb-3">
                        <label for="modify-service-price" class="form-label">Service Price</label>
                        <input type="number" class="form-control" id="modify-service-price" name="price" required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" form="modify-service-form" class="btn btn-primary">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Service Start -->
<div class="container-xxl service py-5">
    <div class="container">

        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="mb-5">Explore Services</h1>
        </div>
        <!-- Active section -->
        <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
            <!-- Column left: list of service like buttons-->
            <div class="col-lg-4">
                <div class="nav w-100 nav-pills me-4">
                    <div class="d-flex flex-wrap" style="max-height: 400px; overflow-y: auto;">
                        <!-- Loop through all the services and create a button for each service -->
                        <div th:each="service : ${services}">
                            <button th:class="${service.serviceId == 1 ? 'nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active' : 'nav-link w-100 d-flex align-items-center text-start p-4 mb-4'}"
                                    data-bs-toggle="pill"
                                    th:data-bs-target="${service.serviceId % 2 == 1 ? '#tab-pane-1' : '#tab-pane-2'}"
                                    type="button"
                                    th:id="${service.serviceId}"
                                    onclick="clickTest(this)"
                                    th:data-price="${service.getPrice()}">
                                <i class="fa fa-car-side fa-2x me-3"></i>
                                <h4 class="m-0" th:text="${service.serviceName}"></h4>
                                <input type="hidden" id="id_val" th:value="${service.serviceId}">
                            </button>
                        </div>

                        <!-- End Loop -->

                    </div>
                    <button type="button" class="btn btn-primary py-3 px-5 mt-3" data-bs-toggle="modal" data-bs-target="#addServiceModal">Add New<i class="fa fa-arrow-right ms-3"></i></button>


                </div>
            </div>
            <!-- End Column left -->
            <!-- Center + Right column -->
            <div class="col-lg-8">
                <div class="tab-content w-100">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row g-4">
                            <div class="col-md-6" style="min-height: 350px;">
                                <div class="position-relative h-100">
                                    <img class="position-absolute img-fluid w-100 h-100" src="/img/service-5.jpg"
                                         style="object-fit: cover;" alt="">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="mb-3" th:text="${services.get(0).getServiceName()}"></h3>
                                <p class="mb-4">We are a car repair shop specializing in the maintenance and repair
                                    of automobiles. We provide professional and reliable services to ensure the
                                    proper functioning of our client's vehicles. Our experience and expertise allow
                                    us to provide quick and effective solutions for any type of mechanical problem.
                                    Choosing our shop means relying on a team of qualified experts who guarantee
                                    maximum quality, efficiency, safety and reliability for your vehicle.</p>
                                <h4 class="m-0" th:text="'PRICE: ' + ${services.get(0).getPrice()} + ' BGN'"></h4>
                                <a class="btn btn-primary py-3 px-5 mt-3 modify-button" data-bs-toggle="modal" data-bs-target="#modifyServiceModal">Modify<i class="fa fa-arrow-right ms-3"></i></a>
                                <a href="" class="btn btn-primary py-3 px-5 mt-3">Delete<i class="fa fa-arrow-right ms-3"></i></a>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Center + Right column -->
        </div>
        <!-- Active section -->
    </div>
</div>
<!-- Service End -->

<!-- Fact Start -->
<div class="container-fluid fact bg-dark my-5 py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                <i class="fa fa-check fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up" th:text="${cars.size()}"></h2>
                <p class="text-white mb-0">Cars</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                <i class="fa fa-users-cog fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up" th:text="${employees.size()}"></h2>
                <p class="text-white mb-0">Expert Technicians</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                <i class="fa fa-users fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up" th:text="${customers.size()}"></h2>
                <p class="text-white mb-0">Satisfied Clients</p>
            </div>
            <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                <i class="fa fa-car fa-2x text-white mb-3"></i>
                <h2 class="text-white mb-2" data-toggle="counter-up" th:text="${reports.size()}"></h2>
                <p class="text-white mb-0">Completed Visits</p>
            </div>
        </div>
    </div>
</div>
<!-- Fact End -->




<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, Sofia, Bulgaria</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+359 878570383</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>asg.car.service.system@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Opening Hours</h4>
                <h6 class="text-light">Monday - Friday:</h6>
                <p class="mb-4">09.00 AM - 09.00 PM</p>
                <h6 class="text-light">Saturday - Sunday:</h6>
                <p class="mb-0">09.00 AM - 12.00 PM</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">Your Site Name</a>, All Right Reserved.

                    <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">HTML Codex</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/lib/wow/wow.min.js" th:src="@{/lib/wow/wow.min.js}"></script>
    <script src="../static/lib/easing/easing.min.js" th:src="@{/lib/easing/easing.min.js}"></script>
    <script src="../static/lib/waypoints/waypoints.min.js" th:src="@{/lib/waypoints/waypoints.min.js}"></script>
    <script src="../static/lib/counterup/counterup.min.js" th:src="@{/lib/counterup/counterup.min.js}"></script>
    <script src="../static/lib/owlcarousel/owl.carousel.min.js" th:src="@{/lib/owlcarousel/owl.carousel.min.js}"></script>
    <script src="../static/lib/tempusdominus/js/moment.min.js" th:src="@{/lib/tempusdominus/js/moment.min.js}"></script>
    <script src="../static/lib/tempusdominus/js/moment-timezone.min.js" th:src="@{/lib/tempusdominus/js/moment-timezone.min.js}"></script>
    <script src="../static/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js" th:src="@{/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js}"></script>

    <!-- Template Javascript -->
    <script src="../static/js/main.js" th:src="@{/js/main.js}"></script>

<script type="text/javascript">
    function clickTest(button) {
        // Remove the "active" class from all buttons
        const buttons = document.querySelectorAll('.nav-link');
        buttons.forEach((btn) => {
            btn.classList.remove('active');
        });
        // Add the "active" class to the clicked button
        button.classList.add('active');
        // Get the serviceName and servicePrice of the clicked button
        const serviceName = button.querySelector('h4').textContent;
        const servicePrice = button.getAttribute('data-price');
        const serviceId = button.querySelector('#id_val').value;
        // Update the heading and price with the serviceName and servicePrice
        const heading = document.querySelector('.tab-pane.active h3');
        const price = document.querySelector('.tab-pane.active h4');
        heading.textContent = serviceName;
        price.textContent = 'Price: ' + servicePrice + ' BGN';

        // Add serviceId as value to the Modify button data-id attribute
        const modifyButton = document.querySelector('.modify-button');
        modifyButton.setAttribute('data-id', serviceId);

    }


    // Function to handle the Modify button click event
    function handleModifyClick() {
        // Get the service id and name
        const serviceId = this.getAttribute('data-id');
        const serviceName = document.querySelector('.tab-pane.active h3').textContent;
        // Get the current service price
        const currentServicePrice = document.querySelector('.tab-pane.active h4').textContent.split(' ')[1];
        // Set the input values to the current values
        document.querySelector('#serviceName').value = serviceName;
        document.querySelector('#servicePrice').value = currentServicePrice;
        // Set the form action to the update endpoint with the service id
        document.querySelector('#serviceForm').setAttribute('action', '/services/' + serviceId + '/update');
        // Show the modal
        const modifyServiceModal = new bootstrap.Modal(document.querySelector('#modifyServiceModal'));
        modifyServiceModal.show();
    }

    // Attach the handleModifyClick function to the Modify button
    const modifyButton = document.querySelector('.modify-button');
    modifyButton.addEventListener('click', handleModifyClick);
</script>
</body>




</html>