<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Visit</title>
    <!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">-->
    <link rel="stylesheet" href="../static/singleCar.css" th:href="@{/singleCar.css}">
    <link rel="stylesheet" href="../static/myCars.css" th:href="@{/myCars.css}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>

<body>

<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>123 Street, Sofia, Bulgaria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM &nbsp&nbsp&nbsp</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small>Sat - Sun : 09.00 AM - 12.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+359 878570383 &nbsp&nbsp&nbsp</small>
                <small class="fa fa-envelope me-3"></small>
                <small>asg.car.service.system@gmail.com</small>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->


<!-- Navbar Start -->
<div th:unless="${viewer.getRole().getId() == 2}">
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="" class="nav-item nav-link">BookNow</a>
                <a href="" class="nav-item nav-link">Profile</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Search
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/cars/view/user/{id}(id=${owner.getId()})}" th:method="get">My
                            Cars</a></li>
                        <li><a class="dropdown-item" th:href="@{/visits/view/user/{id}(id=${owner.getId()})}"
                               th:method="get">My Visits</a></li>
                        <li><a class="dropdown-item" th:href="@{/users/reports/{id}(id=${owner.getId()})}" th:method="get">My
                            Reports</a></li>
                    </ul>
                </div>
                <a th:href="@{/about}" class="nav-item nav-link">About</a>
                <a th:href="@{/services}" class="nav-item nav-link">Services</a>
            </div>
            <a th:href="@{/auth/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG OUT<i
                    class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
</div>
<!-- Navbar End -->

<!-- Navbar Start -->
<div th:if="${viewer.getRole().getId() == 2}">
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/booking}" class="nav-item nav-link">BookNow</a>
                <a th:href="@{/auth/register}" class="nav-item nav-link">Register</a>
                <a th:href="@{/users/{id}(id=${viewer.getId()})}" th:method="get" class="nav-item nav-link">
                    Profile
                </a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Search
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" th:href="@{/users}">Users</a></li>
                        <li><a class="dropdown-item" th:href="@{/cars/view}" th:method="get">Cars</a></li>
                        <li><a class="dropdown-item" th:href="@{/visits/view}" th:method="get">Visits</a></li>
                        <li><a class="dropdown-item" th:href="@{/reports}">Reports</a></li>
                    </ul>
                </div>
                <a th:href="@{/about}" class="nav-item nav-link">About</a>
                <a th:href="@{/services}" class="nav-item nav-link">Services</a>
            </div>
            <a th:href="@{/auth/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG OUT<i
                    class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
</div>
<!-- Navbar End -->


<div class="right-side">
    <h1>Edit Visit</h1>
    <div class="field">
        <form action="#" th:action="@{/visits/edit/{id}(id=${id})}"
              th:object="${updateVisit}" method="post">
            <label for="executionDate">Execution Date:</label>
            <input type="text" id="executionDate" th:field="*{executionDate}">

            <label for="carId">Car:</label>
            <input type="text" id="carId" th:field="*{carId}">

            <label for="statusName">Status:</label>
            <select id="statusName" th:field="*{statusId}">
                <option value="1">Schedule</option>
                <option value="2">In Progress</option>
                <option value="3">Completed</option>
            </select>

            <fieldset>
                <legend>Services:</legend>
                <div th:each="serviceDto : ${updateVisit.getServices()}">
                    <input type="checkbox" th:name="serviceIds" th:value="${serviceDto.getId()}"
                           th:checked="${serviceDto.isChecked()}">
                    <label th:text="${serviceDto.getName()}"></label>
                </div>
            </fieldset>
            <button type="submit">Save</button>
        </form>
        <form th:action="@{/visits/delete/{id}(id=${id})}" method="post">
            <button type="submit" class="delete-btn">Delete</button>
        </form>
    </div>
</div>
</body>
</html>
