<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>

    <link rel="stylesheet" href="../static/singleUser.css" th:href="@{/singleUser.css}">
    <!-- Favicon -->
    <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body id="body">

<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Sofia, Bulgaria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+359 877 380 301</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<div id="nav-to-hide">
    <!-- Navbar Start -->
    <div th:unless="${viewer.getRole().getId().equals(2)}">
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a href="" class="nav-item nav-link">BookNow</a>
                    <a href="" class="nav-item nav-link">Profile</a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Search
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/cars/view/user/{id}(id=${owner.getId()})}" th:method="get">My
                                Cars</a></li>
                            <li><a class="dropdown-item" th:href="@{/visits/view/user/{id}(id=${owner.getId()})}"
                                   th:method="get">My Visits</a></li>
                            <li><a class="dropdown-item" th:href="@{/users/reports/{id}(id=${owner.getId()})}" th:method="get">My
                                Reports</a></li>
                        </ul>
                    </div>
                    <a th:href="@{/about}" class="nav-item nav-link">About</a>
                    <a th:href="@{/services}" class="nav-item nav-link">Services</a>
                </div>
                <a th:href="@{/auth/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG OUT<i
                        class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->

    <!-- Navbar Start -->
    <div th:if="${viewer.getRole().getId().equals(2)}">
        <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
            <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
                <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
            </a>
            <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto p-4 p-lg-0">
                    <a th:href="@{/booking}" class="nav-item nav-link">BookNow</a>
                    <a th:href="@{/auth/register}" class="nav-item nav-link">Register</a>
                    <a th:href="@{/users/{id}(id=${viewer.getId()})}" th:method="get" class="nav-item nav-link">
                        Profile
                    </a>
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Search
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" th:href="@{/users}">Users</a></li>
                            <li><a class="dropdown-item" th:href="@{/cars/view}" th:method="get">Cars</a></li>
                            <li><a class="dropdown-item" th:href="@{/visits/view}" th:method="get">Visits</a></li>
                            <li><a class="dropdown-item" th:href="@{/reports}">Reports</a></li>
                        </ul>
                    </div>
                    <a th:href="@{/about}" class="nav-item nav-link">About</a>
                    <a th:href="@{/services}" class="nav-item nav-link">Services</a>
                </div>
                <a th:href="@{/auth/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG OUT<i
                        class="fa fa-arrow-right ms-3"></i></a>
            </div>
        </nav>
    </div>
    <!-- Navbar End -->
</div>
<!-- Navbar End -->
<div class="user-info-container">
    <div class="circle-image" id="circle-image">
        <img src="" alt="Alternative text for image">
    </div>
    <div class="user-info">
        <div id="names" th:text="${owner.getFirstName()} + ' ' + ${owner.getLastName()}"></div>
        <div id="id" th:text="'ID: '+${owner.getId()}"></div>
        <div id="role" th:text="'Role: ' + ${owner.getRole().getRole()}"></div>
        <div id="email" th:text="'Email: ' + ${owner.getEmail()}"></div>
        <div id="phone-number" th:text="'Phone number: ' + ${owner.getPhoneNumber()}"></div>
    </div>
    <!--    <div th:if="${user.role == 'admin' and user.status == 'active'}">-->
    <div th:if="${viewer.getRole().getId() == 2}">
        <form th:action="@{/users/edit/{id}(id = ${owner.getId()})}"
              method="get">
            <button class="option-button" id="edit-button">Edit profile</button>
        </form>
    </div>
    <!--    </div>-->
</div>

<div class="user-profile-buttons">
    <button class="option-button" id="button1">
        <a th:href="@{/cars/user/{id}(id=${owner.getId()})}" th:method="get">Add car</a>
    </button>
    <button class="option-button" id="button2">
        <a th:href="@{/cars/view/user/{id}(id=${owner.getId()})}" th:method="get">Cars</a>
    </button>
    <button class="option-button" id="button3">
        <a th:href="@{/booking/visit}" th:method="get">Book a visit</a>
    </button>
    <button class="option-button" id="button4">
        <a th:href="@{/visits/view/user/{id}(id=${owner.getId()})}" th:method="get">Visits</a>
    </button>
    <button class="option-button" id="button5">
        <a th:href="@{/users/reports/{id}(id=${owner.getId()})}">Finished visit reports</a>
    </button>

</div>
<div class="user-stats">
    <div th:text="'Cars: ' + ${owner.getCars().size()}">stat</div>
    <div th:text="'Visits: '+ ${visits}">stat</div>
</div>
<!--Loader-->
<div class="loader"></div>
</body>

<script>
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");
        setTimeout(() => {
            loader.classList.add("loader--hidden");

            loader.addEventListener("transitionend", () => {
                document.body.removeChild(loader);
            });
        }, 1500);
    });

    //     Images
    const images = ['/img/eagle.png',
        '/img/emoji-with-sunglasses.png',
        '/img/fire.png',
        '/img/dawg.png'];

    // Get a random index from the images array
    const randomIndex = Math.floor(Math.random() * images.length);

    // Get the circle-image element and its child img element
    const circleImage = document.getElementById('circle-image');
    const img = circleImage.querySelector('img');

    // Set the src attribute of the img element to the randomly selected image
    img.src = images[randomIndex];

    const buttons = document.getElementsByClassName("option-button");
    for (let i = 0; i < buttons.length; i++) {
        buttons[i].addEventListener("mousedown", function () {
            this.style.transform = "scale(0.95)";
        });
        buttons[i].addEventListener("mouseup", function () {
            this.style.transform = "scale(1)";
        });
        buttons[i].addEventListener("mouseout", function () {
            this.style.transform = "scale(1)";
        });
    }

    const myDiv = document.getElementById('nav-to-hide');
    myDiv.classList.add('hide');
    setTimeout(() => {
        myDiv.classList.remove('hide');
    }, 1700);
</script>
</html>