<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Report</title>
    <link rel="stylesheet" href="../static/singleReportView.css" th:href="@{/singleReportView.css}">
    <!-- Favicon -->
    <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!--  Time locale  -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">
</head>
<body>

<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Sofia, Bulgaria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+359 877 380 301</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<div id="nav-to-hide">
    <!-- Navbar Start -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/booking}" class="nav-item nav-link">BookNow</a>
                <a th:href="@{/auth/register}" class="nav-item nav-link">Register</a>
                <a th:href="@{/users/{id}(id=${viewer.getId()})}" th:method="get" class="nav-item nav-link">
                    Profile
                </a>                <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Search
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/users}" >Users</a></li>
                    <li><a class="dropdown-item" th:href="@{/cars/view}" th:method="get">Cars</a></li>
                    <li><a class="dropdown-item" th:href="@{/visits/view}" th:method="get">Visits</a></li>
                    <li><a class="dropdown-item" th:href="@{/reports}">Reports</a></li>
                </ul>
            </div>
                <a th:href="@{/about}" class="nav-item nav-link">About</a>
                <a th:href="@{/services}" class="nav-item nav-link">Services</a>
            </div>
            <a th:href="@{/auth/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG OUT<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->
</div>


<div id="report-box">
    <div id="header"><p>ASG Car Service System</p></div>
    <div id="hello-text">
        <p th:text="'Hello, '+${report.getFirstName()} + ' ' + ${report.getLastName()}">Hello, Svetlan Sofroniev</p>
        <p>In this document you will find information about the visit of the car to the server. When the
            session itself started and when it ended. Information about the owner of the car and
            information about the car itself is also provided.</p>

    </div>

    <div id="report-info">
        <h1>Report details:</h1>
        <p th:text="'Report ID: ' + ${report.getReportId()}">Report ID: 4</p>
        <p th:text="'Generated from visit with ID: ' + ${report.getVisitId()}">Generated from visit with ID: 4</p>
        <p th:text="'Visit execution date: ' + ${report.getExecutionDate().toLocalDate()} + ' '
        + ${report.getExecutionDate().toLocalTime()}"></p>
        <p th:text="'Visit finish date: ' + ${report.getFinishDate().toLocalDate()} + ' '
        + ${report.getFinishDate().toLocalTime()}"></p>
    </div>

    <div id="user-info">
        <h1>Owner details:</h1>
        <p th:text="'Names: ' + ${report.getFirstName()} + ' '+${report.getLastName()}">Names</p>
        <p th:text="'Username: ' + ${report.getUsername()}">Username</p>
        <p th:text="'Email: ' + ${report.getEmail()}">Email</p>
    </div>
    <div id="car-info">
        <h1>Car details:</h1>
        <p th:text="'Brand & Model: '+ ${report.getBrand()} + ' '+${report.getModel()}"></p>
        <p th:text="'Year of production: ' + ${report.getYearOfProduction()}"></p>
        <p th:text="'License plate: ' + ${report.getLicensePlate()}"></p>
        <p th:text="'VIN: '+${report.getVin()}"></p>
    </div>
    <div id="services-info">
        <h1>Services:</h1>
    </div>
    <div th:unless="${report.getReportServices().isEmpty()}" class="table-container">
        <table id="services-table">
            <thead>
            <tr>
                <th>Service</th>
                <th>Price(BGN)</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="service : ${report.getReportServices()}">
                <td th:text="${service.getService()}">Hi</td>
                <td th:text="${service.getPrice()}">Hi</td>
            </tr>
            <tr>
                <td></td>
                <td id="total" th:text="'Total: '+${total}+' BGN'">Total</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:if="${report.getReportServices().isEmpty()}" class="default-message">
        <p>Our team of mechanics has examined your car and determined
            that no maintenance or additional services need to be applied to your vehicle.</p>

        <p>If you have any questions or concerns about the work we performed,
            please don't hesitate to reach out on asg.car.service.system@gmail.com.
            We're always here to help and ensure your satisfaction.
            <br>
            <br>
            Best regards,
            <br>
            ASG Car Service Team.
            <br>
        </p>
    </div>
</div>

<div class="options-container">
    <p>Send to email:</p>
    <form th:action="@{/reports/send/{id}(id=${report.getReportId()})}" method="post">
        <select name="currency" class="currency-select">
            <option value="BGN">BGN</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
        <button type="submit" class="email-send-button">Send to owner</button>
    </form>
</div>
</body>
</html>