<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>

    <link rel="stylesheet" href="../static/usersView.css" th:href="@{/usersView.css}">
    <!-- Favicon -->
    <link href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@600;700&family=Ubuntu:wght@400;500&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="../static/lib/animate/animate.min.css" th:href="@{/lib/animate/animate.min.css}" rel="stylesheet">
    <link href="../static/lib/owlcarousel/assets/owl.carousel.min.css"
          th:href="@{/lib/owlcarousel/assets/owl.carousel.min.css}" rel="stylesheet">
    <link href="../static/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          th:href="@{/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet">

    <!--  Time locale  -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/smoothness/jquery-ui.css">

</head>

<!-- Topbar Start -->
<div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Sofia, Bulgaria</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center py-3">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+359 877 380 301</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-twitter"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" href=""><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->

<div class="nav-to-hide">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0">
        <a th:href="@{/}" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <h2 class="m-0 text-primary"><i class="fa fa-car me-3"></i>ASG CarService</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a th:href="@{/booking}" class="nav-item nav-link">BookNow</a>
                <a th:href="@{/auth/register}" class="nav-item nav-link">Register</a>
                <a th:href="@{/users/{id}(id=${viewer.getId()})}" th:method="get" class="nav-item nav-link">
                    Profile
                </a>                <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Search
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" th:href="@{/users}" >Users</a></li>
                    <li><a class="dropdown-item" th:href="@{/cars/view}" th:method="get">Cars</a></li>
                    <li><a class="dropdown-item" th:href="@{/visits/view}" th:method="get">Visits</a></li>
                    <li><a class="dropdown-item" th:href="@{/reports}">Reports</a></li>
                </ul>
            </div>
                <a th:href="@{/about}" class="nav-item nav-link">About</a>
                <a th:href="@{/services}" class="nav-item nav-link">Services</a>
            </div>
            <a th:href="@{/auth/logout}" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">LOG OUT<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>
    <!-- Navbar End -->
</div>

<body>
<div class="search-box">
    <form class="search-box-form" th:action="@{/users/search}" method="post">
        <span class="inline-block">
            <input id="user-input" type="text" name="input"
                   placeholder="ID, Name/s, Username, Phone number, Email or combined.">
        </span>
        <span class="inline-block1">
            <button type="submit">Search</button>
        </span>
        <select class="sort-by-cars-brand" name="brandType">
            <option class="default-option" value="">Car brand</option>
            <option th:each="brand:${brands}" th:value="${brand.getId()}" th:text="${brand.getBrandName()}"></option>
        </select>
        <select class="sort-users-by" name="order">
            <option class="default-option" value="">Order by name</option>
            <option value="asc">A-Z</option>
            <option value="desc">Z-A</option>
        </select>

        <div id="text-between-dates">Had a visit between:</div>
        <input id="datepicker" name="datepicker" placeholder="After" readonly>
        <input id="datepicker2" name="datepicker2" placeholder="Before" readonly>
    </form>

</div>


<div class="users-container">
    <div class="loader"></div>
    <div th:if="${users.isEmpty()}">
        <div class="no-match-text">Please try searching for
            something in the search bar further to the right.
        </div>
    </div>
    <div th:unless="${users.isEmpty()}" th:each="user : ${users}">
        <table class="user">
            <tr>
                <td class="names" th:text="${user.firstName} + ' ' + ${user.lastName}"></td>
                <td class="user-id" th:text="'ID: '+ ${user.getId()}"></td>
                <td class="role" th:text="${user.getRole().getRole()}">Tobias</td>
                <td></td>
                <td class="view-page">
                    <form th:action="@{/users/{id}(id=${user.getId()})}" method="get">
                        <button type="submit" class="view-button">View profile</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>

</div>

<div class="image-mechanic-container">
    <img src="/img/mechanic.png" alt="Your Image"/>
</div>


<div class="image-metal-gear1">
    <img src="/img/metal-gear.png" alt="Your Image"/>
</div>
<div class="image-metal-gear2">
    <img src="/img/metal-gear.png" alt="Your Image"/>
</div>
<div class="image-metal-gear3">
    <img src="/img/metal-gear.png" alt="Your Image"/>
</div>
</body>

<script>
    const button = document.getElementById('myButton');
    const box = document.getElementById('myBox');

    button.addEventListener('click', function () {
        box.classList.toggle('visible');
    });
</script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script>
    window.addEventListener("load", () => {
        const loader = document.querySelector(".loader");
        setTimeout(() => {
            loader.classList.add("loader--hidden");

            loader.addEventListener("transitionend", () => {
                document.body.removeChild(loader);
            });
        }, 1500);
    });


    $(function () {
        $("#datepicker, #datepicker2").datepicker({
            dateFormat: "yy-mm-dd",
            regional: "en-US"
        });
    });


    const scrollContainer = document.querySelector('.users-container');

    scrollContainer.classList.add('hide-scroll');

    setTimeout(() => {
        scrollContainer.classList.remove('hide-scroll');
    }, 2000);

    const myDiv = document.getElementById('nav-to-hide');
    myDiv.classList.add('hide');
    setTimeout(() => {
        myDiv.classList.remove('hide');
    }, 1700);
</script>
</html>